/* style.css */
.question-container {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.question {
    display: flex;
    margin-bottom: 20px;
    gap: 5px;
}

.upvote, .downvote {
    margin-right: 3px;
    margin-left: 15px;
  gap: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upvote {
    background-color: #00ff00;
}

.downvote {
    background-color: #ff0000;
}

.vote-count {
    margin-top: 10px;
    font-weight: bold;
}